h1{
    font-family: 'Nerko One', cursive;
}
a{
    font-family: 'Nerko One', cursive;
}
h5{
    font-family: 'Nerko One', cursive;
}
h3{
    font-family: 'Nerko One', cursive;
}
span{
    font-family: 'Nerko One', cursive;
}
h4{
    font-family: 'Nerko One', cursive;
}